</div><!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kamil Zagórski">
    <meta name="description" content="Express app">
    <title>Express app</title>

    <!-- Bootstrap v5.2 styles -->
    <link rel="stylesheet" href="styles/custom.css">

    <!-- Bootstrap v5.2 scripts -->
    <script src="js/bootstrap.bundle.min.js" defer></script>
</head>
<body>
    {{{body}}}
</body>
</html>