<div class="container-fluid bg-black p-3 flex flex-row fixed-top h-">
  <a href="/" class="text-center text-decoration-none text-yellow-300 fs-5 mx-3 fw-bolder">HOME</a>
  <a href="/addCar" class="text-center text-decoration-none text-yellow-200 fs-5 mx-3 fw-bolder">ADD</a>
  <a href="/carsList" class="text-center text-decoration-none text-yellow-200 fs-5 mx-3 fw-bolder">LIST</a>
  <a href="carsEdit" class="text-center text-decoration-none text-yellow-200 fs-5 mx-3 fw-bolder">EDIT</a>
</div>
<div class="container-fluid bg-dark text-white d-flex align-items-center justify-content-center" style="min-height: 100vh; padding-top: 70px;">
  <h1 class="fw-normal text-white" style="font-size: 80px;"><span class="text-yellow-300">No SQL</span> Database</h1>
</div>